.lq-text-color-00FFE5 {
  color: #00ffe5;
}
.lq-text-color-FFFFFF {
  color: #ffffff;
}
.lq-text-color-343A40 {
  color: #343a40;
}
.lq-text-color-707070 {
  color: #707070;
}
.lq-text-color-222222 {
  color: #222222;
}
.lq-text-color-16113B {
  color: #16113b;
}
.lq-text-color-0070A1 {
  color: #0070a1;
}
.lq-text-color-E3F4FF {
  color: #e3f4ff;
}
.lq-bg-color-E3F4FF {
  background: linear-gradient(180deg, #ff1616 0%, #e03f3f 60%, #ee4c4c 100%) 0%
    0%;
}
.lq-bg-color-EFEFEF {
  background: #efefef;
}
.lq-14 {
  font-size: 14px;
}
.lq-16 {
  font-size: 16px;
}
.lq-18 {
  font-size: 18px;
}
.lq-20 {
  font-size: 20px;
}
.lq-20 {
  font-size: 20px;
}
.lq-23 {
  font-size: 23px;
}
.lq-25 {
  font-size: 25px;
}
.lq-26 {
  font-size: 26px;
}
.lq-27 {
  font-size: 27px;
}
.lq-28 {
  font-size: 28px;
}
.lq-30 {
  font-size: 30px;
}
.lq-31 {
  font-size: 31px;
}
.lq-36 {
  font-size: 36px;
}
.lq-38 {
  font-size: 38px;
}
.lq-58 {
  font-size: 58px;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-Regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.astoria-Medium {
  font-family: "astoria-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Montserrat-Bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* ------------------------------------ */
.logo-size {
  height: 70px;
}
.bg-img {
  height: auto;
  background: linear-gradient(to right, #000428, #004e92, #000428);
  /* background-position: center; */
}
.hero {
  width: 46rem;
  text-align: center;
  padding-bottom: 50px;
}
.input-group {
  /* padding: 0 20px 0 5px; */
  height: 50px;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 12px;
}
.btn-search {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin: 4px;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.features {
  padding: 50px 0;
}
.features .feature {
  text-align: center;
}
.features .feature img {
  max-width: 100px;
  max-height: 100px;
}
.features-header {
  text-align: center;
}
.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.feature-item img {
  max-width: 90px;
  margin-right: 20px;
}
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.amz-fea-content p {
  margin: 0px;
}
.amz-fea-content .discription {
  max-width: 19rem;
}
.amazing-img {
  max-width: 40rem;
}
.row {
  margin: auto;
}

@media (max-width: 1200px) {
  .features .feature p {
    padding: 0;
  }
  .features .feature img {
    max-width: 80px;
    max-height: 80px;
  }
}
@media (max-width: 1024px) {
  .amazing-img {
    max-width: 32rem;
  }
  /* .feature-hsize {
    font-size: 25px;
  } */
}
@media (max-width: 992px) {
  .hero {
    width: 100%;
    text-align: center;
  }
  .feature-item {
    /* flex-direction: column; */
    align-items: flex-start;
    text-align: left;
  }
  .features .feature img {
    max-width: 70px;
    max-height: 70px;
  }
  .features .feature p {
    padding: 0 0 0 20px;
  }
  .amz-fea-content .discription {
    max-width: 100%;
  }
  .tablet {
    flex-direction: column;
  }
  .order-md-last {
    order: -1 !important;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .input-group {
    /* flex-direction: column; */
    height: auto;
  }

  /* .feature-hsize {
    font-size: 18px;
  } */

  .font-head {
    font-size: 22px;
    margin: 1rem 0 !important;
  }
}
@media (max-width: 576px) {
  .features .feature {
    margin-bottom: 30px;
  }
  .features .feature img {
    max-width: 50px;
    max-height: 50px;
  }
  .features-header p {
    font-size: 36px;
  }
  .amz-fea-content .discription {
    font-size: 16px;
  }
  .amazing-img {
    max-width: 18rem;
  }
  /* .feature-hsize {
    font-size: 30px;
  } */
  .btn-search {
    margin: 10px 0 0;
    width: 100%;
    height: 3rem;
  }
  .input-cont {
    height: 3rem;
  }
  .features-cont {
    flex-direction: column;
  }
  .feature-item {
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .features-header p {
    font-size: 24px;
  }
  .amz-fea-content .discription {
    font-size: 14px;
  }
}
